In [1]:
# Librerias generales
import pandas as pd
import numpy as np

# Librerias y visualización
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Leer base de datos
df_usuarios = pd.read_csv('DBs\RETO_df_usuarios.csv')
df_usuarios

C:\Users\Dell\AppData\Local\Temp\ipykernel_9184\349889428.py:2: DtypeWarning: Columns (4,6,7,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df_usuarios = pd.read_csv('DBs\RETO_df_usuarios.csv')

,MES,YEAR,NRODOC,SEXO,FECHA NACIMIENTO,EDAD,DEPARTAMENTO,MUNICIPIO,BARRIO,FECHA INICIO AL PGP,FECHA PRIMERA CLASE FUNCIONAL,PRIMERA CLASE FUNCIONAL,FECHA ÚLTIMA CLASE FUNCIONAL,ÚLTIMA CLASE FUNCIONAL,CICLO_VITAL,QUINQUENIO
0,ABRIL,2017,306221,F,1938-09-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABRIL,2017,306222,F,1974-07-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABRIL,2017,306223,F,1930-08-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABRIL,2017,306224,F,1979-12-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABRIL,2017,306225,M,1943-06-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183906,JUNIO,2022,307482,F,1941-03-26 00:00:00,81.0,ANTIOQUIA,MEDELLIN,NaN,2017-04-01 00:00:00,2017-08-23 00:00:00,CLASE FUNCIONAL 2B,2022-04-22 00:00:00,CLASE FUNCIONAL 2A,Vejez,80-84
183907,JUNIO,2022,313801,F,1999-04-13 00:00:00,23.0,ANTIOQUIA,NaN,NaN,2021-09-02 00:00:00,2021-10-26 00:00:00,CLASE FUNCIONAL 1,2022-01-27 00:00:00,CLASE FUNCIONAL 1,Juventud,20-24
183908,JUNIO,2022,307738,F,1943-09-11 00:00:00,78.0,ANTIOQUIA,MEDELLIN,NaN,2017-04-01 00:00:00,2017-06-14 00:00:00,CLASE FUNCIONAL 2B,2022-01-06 00:00:00,CLASE FUNCIONAL 2A,Vejez,75-79
183909,JUNIO,2022,311656,M,1940-05-26 00:00:00,82.0,ANTIOQUIA,MEDELLIN,NaN,2018-01-01 00:00:00,2018-02-21 00:00:00,CLASE FUNCIONAL 2A,2022-03-17 00:00:00,CLASE FUNCIONAL 2B,Vejez,80-84
183910,JUNIO,2022,309230,M,1957-05-26 00:00:00,65.0,ANTIOQUIA,ENVIGADO,ENVIGADO LA MAGNOLIA,2017-04-01 00:00:00,2018-08-13 00:00:00,CLASE FUNCIONAL 2A,2022-02-09 00:00:00,CLASE FUNCIONAL 2B,Vejez,65-69

In [3]:
# Se verifica que el nombre de las 16 columnas esten bien escritos
df_usuarios.columns

Index(['MES', 'YEAR', 'NRODOC', 'SEXO', 'FECHA NACIMIENTO', 'EDAD',
       'DEPARTAMENTO', 'MUNICIPIO', 'BARRIO', 'FECHA INICIO AL PGP',
       'FECHA PRIMERA CLASE FUNCIONAL', 'PRIMERA CLASE FUNCIONAL',
       'FECHA ÚLTIMA CLASE FUNCIONAL', 'ÚLTIMA CLASE FUNCIONAL', 'CICLO_VITAL',
       'QUINQUENIO'],
      dtype='object')

In [4]:
# Se cambian los nombres de mayusculas a minisculas
df_usuarios.columns = df_usuarios.columns.str.lower()

In [5]:
# Función para quitar los espacios de los nombres y reemplazar por '_'
def limpiar_nombre_columna(nombre):
    nombre_limpio = nombre.replace(" ", "_")  # Reemplazar espacios por guiones bajos
    return nombre_limpio

# Aplicar la función a los nombres de las columnas
df_usuarios.columns = df_usuarios.columns.map(limpiar_nombre_columna)

In [6]:
# Se corrigen los nombres que tienen tildes
df_usuarios = df_usuarios.rename(columns={'fecha_última_clase_funcional': 'fecha_ultima_clase_funcional'})
df_usuarios = df_usuarios.rename(columns={'última_clase_funcional': 'ultima_clase_funcional'})

In [7]:
df_usuarios.columns

Index(['mes', 'year', 'nrodoc', 'sexo', 'fecha_nacimiento', 'edad',
       'departamento', 'municipio', 'barrio', 'fecha_inicio_al_pgp',
       'fecha_primera_clase_funcional', 'primera_clase_funcional',
       'fecha_ultima_clase_funcional', 'ultima_clase_funcional', 'ciclo_vital',
       'quinquenio'],
      dtype='object')

In [8]:
df_usuarios

,mes,year,nrodoc,sexo,fecha_nacimiento,edad,departamento,municipio,barrio,fecha_inicio_al_pgp,fecha_primera_clase_funcional,primera_clase_funcional,fecha_ultima_clase_funcional,ultima_clase_funcional,ciclo_vital,quinquenio
0,ABRIL,2017,306221,F,1938-09-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABRIL,2017,306222,F,1974-07-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABRIL,2017,306223,F,1930-08-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABRIL,2017,306224,F,1979-12-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABRIL,2017,306225,M,1943-06-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183906,JUNIO,2022,307482,F,1941-03-26 00:00:00,81.0,ANTIOQUIA,MEDELLIN,NaN,2017-04-01 00:00:00,2017-08-23 00:00:00,CLASE FUNCIONAL 2B,2022-04-22 00:00:00,CLASE FUNCIONAL 2A,Vejez,80-84
183907,JUNIO,2022,313801,F,1999-04-13 00:00:00,23.0,ANTIOQUIA,NaN,NaN,2021-09-02 00:00:00,2021-10-26 00:00:00,CLASE FUNCIONAL 1,2022-01-27 00:00:00,CLASE FUNCIONAL 1,Juventud,20-24
183908,JUNIO,2022,307738,F,1943-09-11 00:00:00,78.0,ANTIOQUIA,MEDELLIN,NaN,2017-04-01 00:00:00,2017-06-14 00:00:00,CLASE FUNCIONAL 2B,2022-01-06 00:00:00,CLASE FUNCIONAL 2A,Vejez,75-79
183909,JUNIO,2022,311656,M,1940-05-26 00:00:00,82.0,ANTIOQUIA,MEDELLIN,NaN,2018-01-01 00:00:00,2018-02-21 00:00:00,CLASE FUNCIONAL 2A,2022-03-17 00:00:00,CLASE FUNCIONAL 2B,Vejez,80-84
183910,JUNIO,2022,309230,M,1957-05-26 00:00:00,65.0,ANTIOQUIA,ENVIGADO,ENVIGADO LA MAGNOLIA,2017-04-01 00:00:00,2018-08-13 00:00:00,CLASE FUNCIONAL 2A,2022-02-09 00:00:00,CLASE FUNCIONAL 2B,Vejez,65-69

In [9]:
# Se identifica la existencia de muchas filas duplicadas, por lo cual se decide eliminar
filas_duplicadas = df_usuarios.duplicated(keep='first')
cantidad_duplicadas = filas_duplicadas.sum()
cantidad_duplicadas

5012

In [10]:
# Se eliminan las 5012 filas duplicadas
df_usuarios = df_usuarios.drop_duplicates()

In [11]:
# Cuántos pacientes se tienen en el df?
print('Se tienen', len(df_usuarios['nrodoc'].unique()), 'pacientes únicos en los datos.')

Se tienen 8068 pacientes únicos en los datos.

In [12]:
df_usuarios

,mes,year,nrodoc,sexo,fecha_nacimiento,edad,departamento,municipio,barrio,fecha_inicio_al_pgp,fecha_primera_clase_funcional,primera_clase_funcional,fecha_ultima_clase_funcional,ultima_clase_funcional,ciclo_vital,quinquenio
0,ABRIL,2017,306221,F,1938-09-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABRIL,2017,306222,F,1974-07-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABRIL,2017,306223,F,1930-08-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABRIL,2017,306224,F,1979-12-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABRIL,2017,306225,M,1943-06-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183906,JUNIO,2022,307482,F,1941-03-26 00:00:00,81.0,ANTIOQUIA,MEDELLIN,NaN,2017-04-01 00:00:00,2017-08-23 00:00:00,CLASE FUNCIONAL 2B,2022-04-22 00:00:00,CLASE FUNCIONAL 2A,Vejez,80-84
183907,JUNIO,2022,313801,F,1999-04-13 00:00:00,23.0,ANTIOQUIA,NaN,NaN,2021-09-02 00:00:00,2021-10-26 00:00:00,CLASE FUNCIONAL 1,2022-01-27 00:00:00,CLASE FUNCIONAL 1,Juventud,20-24
183908,JUNIO,2022,307738,F,1943-09-11 00:00:00,78.0,ANTIOQUIA,MEDELLIN,NaN,2017-04-01 00:00:00,2017-06-14 00:00:00,CLASE FUNCIONAL 2B,2022-01-06 00:00:00,CLASE FUNCIONAL 2A,Vejez,75-79
183909,JUNIO,2022,311656,M,1940-05-26 00:00:00,82.0,ANTIOQUIA,MEDELLIN,NaN,2018-01-01 00:00:00,2018-02-21 00:00:00,CLASE FUNCIONAL 2A,2022-03-17 00:00:00,CLASE FUNCIONAL 2B,Vejez,80-84
183910,JUNIO,2022,309230,M,1957-05-26 00:00:00,65.0,ANTIOQUIA,ENVIGADO,ENVIGADO LA MAGNOLIA,2017-04-01 00:00:00,2018-08-13 00:00:00,CLASE FUNCIONAL 2A,2022-02-09 00:00:00,CLASE FUNCIONAL 2B,Vejez,65-69

In [13]:
# Se verifica el total de datos nulos por columna
df_usuarios.isnull().sum()

mes                                  0
year                                 0
nrodoc                               0
sexo                                 7
fecha_nacimiento                 72076
edad                             29144
departamento                     96615
municipio                        97502
barrio                           63555
fecha_inicio_al_pgp              53241
fecha_primera_clase_funcional    90938
primera_clase_funcional          89258
fecha_ultima_clase_funcional     90914
ultima_clase_funcional           50790
ciclo_vital                      29144
quinquenio                       29144
dtype: int64

In [14]:
# los meses estan bien escritos
df_usuarios['mes'].value_counts()

mes
JUNIO         18679
MAYO          18649
ENERO         14308
OCTUBRE       14294
DICIEMBRE     14293
SEPTIEMBRE    14182
FEBRERO       14158
JULIO         14102
AGOSTO        14077
NOVIEMBRE     14063
MARZO         14057
ABRIL         14037
Name: count, dtype: int64

In [15]:
# Se reemplazan los nombres de los meses en un diccionario
categorias = {'ENERO':'Enero','FEBRERO':'Febrero','MARZO':'Marzo','ABRIL':'Abril','MAYO':'Mayo','JUNIO':'Junio','JULIO':'Julio','AGOSTO':'Agosto','SEPTIEMBRE':'Septiembre','OCTUBRE':'Octubre','NOVIEMBRE':'Noviembre','DICIEMBRE':'Diciembre'}

In [16]:
df_usuarios['mes'] = df_usuarios['mes'].replace(categorias)

C:\Users\Dell\AppData\Local\Temp\ipykernel_9184\2698255419.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_usuarios['mes'] = df_usuarios['mes'].replace(categorias)

In [17]:
df_usuarios['mes'].value_counts()

mes
Junio         18679
Mayo          18649
Enero         14308
Octubre       14294
Diciembre     14293
Septiembre    14182
Febrero       14158
Julio         14102
Agosto        14077
Noviembre     14063
Marzo         14057
Abril         14037
Name: count, dtype: int64

In [18]:
# Los años estan bien
df_usuarios['year'].value_counts()

year
2021    55229
2018    52915
2017    43563
2022    27192
Name: count, dtype: int64

In [19]:
# Los codigos estan bien
df_usuarios['nrodoc'].value_counts()

nrodoc
306221    38
308922    38
308899    38
308901    38
308902    38
          ..
309639     1
309656     1
306890     1
313045     1
314288     1
Name: count, Length: 8068, dtype: int64

In [20]:
# Se encuentra que en la variable SEXO, se encuentran datos que son direcciones
df_usuarios['sexo'].value_counts()

sexo
F                                       112220
M                                        66658
CARRERA 51 B 1 33                            1
CL 48  95 55                                 1
CR 49 46 14                                  1
CRR 47 N  41 32                              1
CALLE 80 A 71 A 18                           1
CL 94  74B  16                               1
CALLE 77E   8830                             1
KR 55A 47 16  BR SANTA ANA                   1
KR 92 NRO 46 97                              1
CL 55 80 54                                  1
CALLE 38 SUR N  29 A 54 PISO 2               1
CR 75A   88A   27 BRR ROBLEDO KENEDY         1
CL  40 C  SUR   29 C  31LA FLORIDA           1
CL 31 NRO 44 159                             1
Name: count, dtype: int64

In [21]:
# Crear una lista de valores a mantener
genero = ['F', 'M']

# Filtrar las filas donde 'SEXO' esté en la lista de valores a mantener
df_usuarios = df_usuarios[df_usuarios['sexo'].isin(genero)]

In [22]:
df_usuarios['sexo'].value_counts()

sexo
F    112220
M     66658
Name: count, dtype: int64

In [23]:
# Se decide borrar ya que se tienen datos más significativos como la edad
df_usuarios['fecha_nacimiento'].value_counts()

fecha_nacimiento
1930-12-31 00:00:00    110
1936-10-15 00:00:00     97
1922-12-31 00:00:00     95
1947-08-07 00:00:00     95
1928-12-31 00:00:00     94
                      ...
1966-10-13 00:00:00      1
1958-01-31 00:00:00      1
1931-08-16 00:00:00      1
1939-08-18 00:00:00      1
1956-02-14 00:00:00      1
Name: count, Length: 6166, dtype: int64

In [24]:
df_usuarios = df_usuarios.drop(columns=['fecha_nacimiento'])

In [25]:
# SE PUEDEN BORRAR LOS DATOS NULOS?
df_usuarios['edad'].value_counts()

edad
75.0     5636
76.0     5418
74.0     5134
82.0     4764
73.0     4759
         ...
102.0      52
105.0      24
19.0       15
106.0      12
18.0       10
Name: count, Length: 89, dtype: int64

In [26]:
df_usuarios['edad'].value_counts(dropna=False)

edad
NaN      29123
75.0      5636
76.0      5418
74.0      5134
82.0      4764
         ...
102.0       52
105.0       24
19.0        15
106.0       12
18.0        10
Name: count, Length: 90, dtype: int64

In [27]:
df_usuarios = df_usuarios.dropna(subset=['edad'])

In [28]:
df_usuarios.isnull().sum()

mes                                  0
year                                 0
nrodoc                               0
sexo                                 0
edad                                 0
departamento                     67471
municipio                        68358
barrio                           39017
fecha_inicio_al_pgp              24097
fecha_primera_clase_funcional    61794
primera_clase_funcional          60114
fecha_ultima_clase_funcional     61770
ultima_clase_funcional           24530
ciclo_vital                          0
quinquenio                           0
dtype: int64

In [29]:
# La columna DEPARTAMENTO solo contiene a Antioquia, por lo tanto se decide eliminar
df_usuarios['departamento'].value_counts()

departamento
ANTIOQUIA    82284
Name: count, dtype: int64

In [30]:
# Se elimina la variable DEPARTAMENTO
df_usuarios = df_usuarios.drop(columns=['departamento'])

In [31]:
# Se decide que como los municipios en la variable pertenecen a Antioquia, no agregaria mucho valor al modelo, por lo tanto se decide eliminar la columna
df_usuarios['municipio'].value_counts()

municipio
MEDELLIN                 68405
BELLO                     5672
ITAGUI                    3051
ENVIGADO                  1787
SAN ANTONIO DE PRADO       856
SABANETA                   590
SAN CRISTOBAL              344
LA ESTRELLA                279
COPACABANA                 108
SANTA ELENA                 92
SAN FELIX                   36
EL PORVENIR                 18
VEREDA EL TAMBO             18
VEREDA SINDELATO            18
VEREDA LA MARIA             18
VEREDA YARUMALITO           18
VEREDA BOQUERON             18
VEREDA EL POTRERITO         18
SANTA FE DE ANTIOQUIA       18
VEREDA EL LLANO             18
GIRARDOTA                   15
Name: count, dtype: int64

In [32]:
# Se elimina la variable municipio
df_usuarios = df_usuarios.drop(columns=['municipio'])

In [33]:
# Al igual que en el municipio, los barrios no aportan al modelo
df_usuarios['barrio'].value_counts()

barrio
MEDELLIN             13649
MANRIQUE              5101
ARANJUEZ              3451
CASTILLA              3031
BUENOS AIRES          2433
                     ...
BARRIO ALTAVISTA         1
LA CASTELLANA            1
BELLO - CABAÑAS          1
LA GABRIELA BELLO        1
SANTANA                  1
Name: count, Length: 727, dtype: int64

In [34]:
# Se elimina la variable barrio
df_usuarios = df_usuarios.drop(columns=['barrio'])

In [35]:
# La fecha de ingreso al programa no aporta al modelo
df_usuarios['fecha_inicio_al_pgp'].value_counts()

fecha_inicio_al_pgp
2017-04-01 00:00:00    80871
2020-07-01 00:00:00     4626
2018-12-01 00:00:00     3215
2019-06-05 00:00:00     2994
2018-01-01 00:00:00     2950
2019-08-01 00:00:00     2763
2017-12-01 00:00:00     2627
2018-08-01 00:00:00     2523
2017-10-02 00:00:00     2513
2020-03-01 00:00:00     1963
2018-03-01 00:00:00     1946
2018-06-01 00:00:00     1922
2020-10-01 00:00:00     1885
2017-09-01 00:00:00     1854
2021-10-01 00:00:00     1609
2020-11-01 00:00:00     1247
2019-07-05 00:00:00     1188
2021-09-02 00:00:00     1079
2020-08-01 00:00:00      953
2019-02-27 00:00:00      774
2018-05-01 00:00:00      548
2021-06-01 00:00:00      456
2020-12-01 00:00:00      432
2018-11-01 00:00:00      373
2022-02-03 00:00:00      350
2021-02-02 00:00:00      295
2021-01-07 00:00:00      288
2022-01-06 00:00:00      261
2021-07-01 00:00:00      254
2021-11-03 00:00:00      219
2017-11-01 00:00:00      217
2021-12-03 00:00:00      102
2018-04-01 00:00:00       78
2022-06-01 00:00:00       69
2021-08-03 00:00:00       65
2019-10-04 00:00:00       57
2017-06-01 00:00:00       36
2021-01-06 00:00:00       18
2022-03-18 00:00:00        8
2018-02-09 00:00:00        6
2018-02-06 00:00:00        6
2018-01-05 00:00:00        6
2021-01-01 00:00:00        5
2022-02-04 00:00:00        5
2022-01-13 00:00:00        1
2022-06-02 00:00:00        1
Name: count, dtype: int64

In [36]:
# Se elimina la variable fecha_inicio_al_pgp
df_usuarios = df_usuarios.drop(columns=['fecha_inicio_al_pgp'])

In [37]:
# No aporta al modelo
df_usuarios['fecha_primera_clase_funcional'].value_counts()

fecha_primera_clase_funcional
2017-04-05 00:00:00    749
2017-04-03 00:00:00    725
2017-04-07 00:00:00    711
2017-04-25 00:00:00    659
2017-05-30 00:00:00    656
                      ...
2018-08-14 00:00:00      1
2018-09-12 00:00:00      1
2018-10-18 00:00:00      1
2019-12-04 00:00:00      1
2019-02-24 00:00:00      1
Name: count, Length: 864, dtype: int64

In [38]:
# Se elimina la variable fecha_primera_clase_funcional
df_usuarios = df_usuarios.drop(columns=['fecha_primera_clase_funcional'])

In [39]:
df_usuarios['primera_clase_funcional'].value_counts()

primera_clase_funcional
CLASE FUNCIONAL 2A    16537
CLASE FUNCIONAL 2B    16394
CLASE FUNCIONAL 4      8180
Clase funcional 2B     7398
Clase funcional 2A     6830
clase funcional 2b     5883
Clase funcional 4      5794
clase funcional 2a     5727
CLASE FUNCIONAL 3      5529
clase funcional 4      3738
CLASE FUNCIONAL 1      1927
clase funcional 3      1593
Sin Clasificar         1393
Clase funcional 3      1351
Clase funcional 1       533
clase funcional 1       518
Sin clasificar          316
Name: count, dtype: int64

In [40]:
# Se crea un diccionario con las categorias corregidas
categorias = {'clase funcional 1': 'Clase funcional 1','CLASE FUNCIONAL 1': 'Clase funcional 1','clase funcional 2a':'Clase funcional 2A','CLASE FUNCIONAL 2A':'Clase funcional 2A', 'clase funcional 2b':'Clase funcional 2B','CLASE FUNCIONAL 2B':'Clase funcional 2B','clase funcional 3':'Clase funcional 3','CLASE FUNCIONAL 3':'Clase funcional 3','clase funcional 4':'Clase funcional 4','CLASE FUNCIONAL 4':'Clase funcional 4','Sin Clasificar':'Sin clasificar'}

In [41]:
df_usuarios['primera_clase_funcional'] = df_usuarios['primera_clase_funcional'].replace(categorias)

In [42]:
# Se identifica la cantidad de nulos en la variable
df_usuarios['primera_clase_funcional'].value_counts(dropna=False)

primera_clase_funcional
NaN                   60114
Clase funcional 2B    29675
Clase funcional 2A    29094
Clase funcional 4     17712
Clase funcional 3      8473
Clase funcional 1      2978
Sin clasificar         1709
Name: count, dtype: int64

In [43]:
# Se decide reemplazar los nulos en la categoria 'Sin clasificar'
df_usuarios['primera_clase_funcional'].fillna('Sin clasificar', inplace=True)

In [44]:
df_usuarios['primera_clase_funcional'].value_counts()

primera_clase_funcional
Sin clasificar        61823
Clase funcional 2B    29675
Clase funcional 2A    29094
Clase funcional 4     17712
Clase funcional 3      8473
Clase funcional 1      2978
Name: count, dtype: int64

In [45]:
df_usuarios.isnull().sum()

mes                                 0
year                                0
nrodoc                              0
sexo                                0
edad                                0
primera_clase_funcional             0
fecha_ultima_clase_funcional    61770
ultima_clase_funcional          24530
ciclo_vital                         0
quinquenio                          0
dtype: int64

In [46]:
# No aporta al modelo, se elimina
df_usuarios['fecha_ultima_clase_funcional'].value_counts()

fecha_ultima_clase_funcional
2021-10-28 00:00:00    394
2021-10-27 00:00:00    374
2020-01-20 00:00:00    365
2020-01-13 00:00:00    359
2021-08-23 00:00:00    358
                      ...
2018-09-03 00:00:00      1
2018-02-01 00:00:00      1
2020-09-03 00:00:00      1
2020-04-17 00:00:00      1
2020-03-23 00:00:00      1
Name: count, Length: 1180, dtype: int64

In [47]:
# Se elimina la variable fecha_ultima_clase_funcional
df_usuarios = df_usuarios.drop(columns=['fecha_ultima_clase_funcional'])

In [48]:
# Se encuentra que hay categorias que estan mal escritas
df_usuarios['ultima_clase_funcional'].value_counts()

ultima_clase_funcional
CLASE FUNCIONAL 2A    27524
CLASE FUNCIONAL 2B    22749
Clase funcional 2A    21800
CLASE FUNCIONAL 4     14701
Clase funcional 4     14283
Clase funcional 2B    13103
CLASE FUNCIONAL 3      5103
Clase funcional 3      1855
CLASE FUNCIONAL 1      1567
Sin Clasificar         1393
Clase funcional 1       671
Sin clasificar          284
SIN CLASIFICAR          192
Name: count, dtype: int64

In [49]:
categorias = {'clase funcional 1': 'Clase funcional 1','CLASE FUNCIONAL 1': 'Clase funcional 1','CLASE FUNCIONAL 2B':'Clase funcional 2B','CLASE FUNCIONAL 2A':'Clase funcional 2A','CLASE FUNCIONAL 3':'Clase funcional 3','CLASE FUNCIONAL 4':'Clase funcional 4','Sin Clasificar':'Sin clasificar','SIN CLASIFICAR':'Sin clasificar'}

In [50]:
df_usuarios['ultima_clase_funcional'] = df_usuarios['ultima_clase_funcional'].replace(categorias)

In [51]:
df_usuarios['ultima_clase_funcional'].value_counts()

ultima_clase_funcional
Clase funcional 2A    49324
Clase funcional 2B    35852
Clase funcional 4     28984
Clase funcional 3      6958
Clase funcional 1      2238
Sin clasificar         1869
Name: count, dtype: int64

In [52]:
df_usuarios['ultima_clase_funcional'].value_counts(dropna=False)

ultima_clase_funcional
Clase funcional 2A    49324
Clase funcional 2B    35852
Clase funcional 4     28984
NaN                   24530
Clase funcional 3      6958
Clase funcional 1      2238
Sin clasificar         1869
Name: count, dtype: int64

In [53]:
df_usuarios['ultima_clase_funcional'].fillna('Sin clasificar', inplace=True)

In [54]:
df_usuarios.isnull().sum()

mes                        0
year                       0
nrodoc                     0
sexo                       0
edad                       0
primera_clase_funcional    0
ultima_clase_funcional     0
ciclo_vital                0
quinquenio                 0
dtype: int64

In [55]:
df_usuarios['ciclo_vital'].value_counts()

ciclo_vital
Vejez       130595
Adultez      17542
Juventud      1618
Name: count, dtype: int64

In [56]:
df_usuarios['quinquenio'].value_counts()

quinquenio
75-79     24956
70-74     23335
80-84     22711
65-69     18600
85-89     16554
60-64     12720
>90       11719
55-59      7855
50-54      4432
45-49      2107
25-29      1102
40-44      1095
35-39       939
30-34       927
20-24       678
15-19        25
Name: count, dtype: int64

In [57]:
df_usuarios

,mes,year,nrodoc,sexo,edad,primera_clase_funcional,ultima_clase_funcional,ciclo_vital,quinquenio
24410,Septiembre,2017,307559,M,68.0,Sin clasificar,Sin clasificar,Vejez,65-69
24411,Septiembre,2017,309773,M,54.0,Sin clasificar,Sin clasificar,Adultez,50-54
24412,Septiembre,2017,307242,M,69.0,Sin clasificar,Sin clasificar,Vejez,65-69
24413,Septiembre,2017,310331,F,27.0,Sin clasificar,Sin clasificar,Juventud,25-29
24414,Septiembre,2017,310333,F,25.0,Sin clasificar,Sin clasificar,Juventud,25-29
...,...,...,...,...,...,...,...,...,...
183906,Junio,2022,307482,F,81.0,Clase funcional 2B,Clase funcional 2A,Vejez,80-84
183907,Junio,2022,313801,F,23.0,Clase funcional 1,Clase funcional 1,Juventud,20-24
183908,Junio,2022,307738,F,78.0,Clase funcional 2B,Clase funcional 2A,Vejez,75-79
183909,Junio,2022,311656,M,82.0,Clase funcional 2A,Clase funcional 2B,Vejez,80-84
183910,Junio,2022,309230,M,65.0,Clase funcional 2A,Clase funcional 2B,Vejez,65-69

La base de datos de usuarios queda con 149.755 registros y 9 columnas

In [58]:
# Cuántos pacientes se tienen en el df?
print('Se tienen', len(df_usuarios['nrodoc'].unique()), 'pacientes únicos en los datos.')

Se tienen 7790 pacientes únicos en los datos.

In [59]:
#convertimos la base a un csv
df_usuarios.to_csv('DBs\df_usuarios.csv', index=True)